.about {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  max-width: 20rem;

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}

.description {
  white-space: pre-line;
}
